
<app-navbar>
    
</app-navbar>
<body  *ngIf="!isLoading">
  <app-overview-component [chartForGraph]="charts[0]">

  </app-overview-component>

      <!-- <aside class="sidebar">
        <button class="menu-btn" (click)="toggleMenu()">Mein Portfolio</button>
        <nav id="menu" [class.hidden]="isMenuHidden" [class.visible]="!isMenuHidden">
         <ul>
            <li><a routerLink="neuesportfolio" routerLinkActive="active">Neues Portfolio erstellen</a></li>
            <li><a routerLink="analyse" routerLinkActive="active">Analyse</a></li>
            <li><a routerLink="portfolio" routerLinkActive="active">Portfoliosammlung</a></li>
          </ul>
        </nav>
      </aside>  -->
    
      <div class="dashboard">
        <div class="section-container">

            <div style="display: flex; height: 380px; gap: 20px;">
              <div style="flex: 1; height: 350px;">
                <app-graph-container [inputCharts]="[charts[6]]" [inputTitles]="['Sections']"></app-graph-container>
  
              </div>
              <div style="flex: 1; height: 350px;">
                <app-graph-container [inputCharts]="[charts[2], charts[5]]" [inputTitles]="['Development', 'Sections']"></app-graph-container>
  
              </div>
            </div>
            <div style="display: flex; gap: 20px; height: 380px;">
              <div style="flex: 1; height: 350px;">
                <app-graph-container [inputCharts]="[charts[1]]" [inputTitles]="['Section Prices']"></app-graph-container>
  
              </div>
              <div style="flex: 1; height: 350px;">
                <app-graph-container [inputCharts]="[charts[4]]" [inputTitles]="['Licenses']"></app-graph-container>
  
              </div>
            </div>
          
        </div> 
        
      </div>      
</body>

