<!-- <p>
    <a routerLink="portfolio" routerLinkActive="active">Learn More</a>
</p>
<div (click)="routeToPortfolio()" class="clickableImg">
    <img src="./../../../assets/example_graph.jpeg" width="400px">
</div>
<app-test></app-test> -->

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publishing Analytics Tracker</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <main>
        <aside>
            <button class="menu-btn" onclick="toggleMenu()">☰</button>
            <nav id="menu" class="menu hidden">
                <ul>
                    <li><a href="#">Kostenanalyse</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Filterung</a></li>
                    <li><a href="#">Portfolio</a></li>
                    
                </ul>
            </nav>
        </aside>
        <section class="kostenanalyse">
            <h2>Kostenanalyse</h2>
            <img src="assets/chart.jpg" alt="Abonnierte Newsletter nach Kanal" class="kostenanalyse-chart">
            <h2 class="title-dashboard">Dashboard</h2>
            <img src="assets/dashboard.avif" alt="Dashboard" class="dashboard-chart">
        </section>
    </main>
    <script src="dist/script.js"></script>
</body>
</html>



